:root {
    --primary-color: #81332A;
    --secondary-color: #C45E4C;
    --terciary-color: #A38579;
    --fourth-color: #29221F;
    --fifth-color: #DAD7CE;
    --icon-font-text: "Beau Rivage", cursive;
  }
  
  html {
      box-sizing: border-box;
      font-size: 16px;
  }
    
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }