
main {
    background-image: url(../../../../../assets/images/backgrounds/library.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    -webkit-font-smoothing: subpixel-antialiased;
}

#input-file-form { 
    background: transparent;
    backdrop-filter: blur(1px);
    background-image: linear-gradient(190deg, rgba(185, 138, 77, 0.555), rgba(0, 0, 0, 0.6));
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    width: 20vw;
    padding: 7px;
    border-radius: 7px;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
    font-size: 1.2em;
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, font-size 0.5s ease-in-out;
}

#input-file-form:hover {
    height: 31vh;
    width: 21vw;
    font-size: 1.25em;
}

#input-file-label {
    background: 
        linear-gradient(90deg, var(--fifth-color) 50%, transparent 0) repeat-x,
        linear-gradient(90deg, var(--fifth-color) 50%, transparent 0) repeat-x,
        linear-gradient(0deg, var(--fifth-color) 50%, transparent 0) repeat-y,
        linear-gradient(0deg, var(--fifth-color) 50%, transparent 0) repeat-y;
    background-size: 6px 2px, 6px 2px, 2px 6px, 2px 6px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    width:100%;
    height: 100%;
    border-radius: 5px;
    cursor: pointer;
    animation: dashedBorderMove .4s infinite linear, ;
}

@keyframes dashedBorderMove {
    100% {
        background-position: 6px 0, -6px 100%, 0 -6px, 100% 6px;
    }
}

#input-file-icon {
    background-image: url("../../../../../assets/images/icons/upload.png");
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 65%;
}

#input-file-text {
    text-align: center;
    color: var(--fifth-color);
}

#input-file-text span {
    text-decoration: underline;
}

#input-file-text span:hover {
    color: white;
}

/* .zoomEffect {
    animation: zoomInFadeOut 0.3s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}

.zoomEffectSlow {
    animation: zoomInFadeOut 0.6s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both;
}

@keyframes zoomInFadeOut {
    0% {
        transform: scale(2);
        filter: blur(4px);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        filter: blur(0px);
        opacity: 1;
    }
} */