#login-container {
    background: transparent;
    backdrop-filter: blur(1px);
    background-image: linear-gradient(190deg, transparent 0%, rgba(255, 255, 255, 0.1) 100%);
    width: 250px;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#login-logo {
    color: lightgray;
    font-size: 3em;
    font-family: var(--icon-font-text);
    cursor: pointer;
}

#login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    margin-bottom: 5%;
    width: 100%;
}

.login-field {
    display: flex;
    flex-direction: column;
    gap:4px;
}

.login-input {
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    padding: 2px 2px 2px 4px;
}

#login-links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin-bottom: 40px;
}

#login-links a:hover {
    cursor: pointer;
}
