#login-container {
    background: transparent;
    backdrop-filter: blur(4px);
    background-image: linear-gradient(190deg, transparent 0%, rgba(124, 124, 124, 0.2) 100%);
    width: 250px;
    color: white;
    border-radius: 15px;
    overflow: hidden;
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}

#login-logo {
    color: lightgray;
    font-size: 3em;
    font-family: var(--icon-font-text);
    cursor: pointer;
}

#login-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 5%;
    width: 100%;
}

.login-field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 5px;
}

.login-label {
    cursor: none;
    pointer-events: none;
    font-size: 1.1em;
    font-weight: normal;
    transition: 
        font-size ease-in-out 0.2s,
        transform ease-in-out 0.2s;
    transform: translateY(20px) translateX(5px);
    
}

.login-input {
    background: transparent;
    display: block;
    width: 200px;
    padding-left: 3px;
    font-size: 1em;
    color: white;
    border: none;
    border-bottom: 1px solid #515151;
    border-radius: 3px;
}

.login-input:focus {
    outline: none;
}

.login-input:focus ~ label, .login-input:valid ~ label {
    font-size: 0.9em;
    transform: translateY(0px) translateX(0px);
    color: lightgray;
}

#login-links {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10%;
    margin-bottom: 40px;
}

#login-links a:hover {
    cursor: pointer;
}
