<main [@toggleLogin]="loginAnimation">
    <form id="login-form">
        <div id="login-input-container">
            <label for="name-input">Nome:
                <input id="name-input" class="login-input"/>
            </label>
            <label for="password-input">Senha:
                <input id="password-input" class="login-input"/>
            </label>
        </div>
        <div id="login-links">
            <a>Esqueci a Senha</a>
            <a>Cadastre-se</a>
        </div>
        <button>Confirmar</button>
    </form>
</main>