<main [@toggleLogin]="loginAnimation" id="login-container">
    <form id="login-form">
        <i id="login-logo">Bookast</i>
        <div id="login-input-container">
            <div class="login-field">
                <input id="name-input" class="login-input" required/>
                <label for="name-input" class="login-label">Nome</label>
            </div>
            <div class="login-field">
                <input id="password-input" class="login-input" required/>
                <label for="password-input" class="login-label">Senha</label>
            </div>
        </div>
        <div id="login-links">
            <a>Esqueci a Senha</a>
            <a>Cadastre-se</a>
        </div>
        <button id="login-submit">Confirmar</button>
    </form>
</main>