main {
    position: fixed;
    top: 2px;
    left: 20vw;
    display: flex;
    justify-content: space-between;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    padding: 1vh 2vw;
    width: 60vw;
    max-width: 1280px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.options-container a, .login-container a {
    font-size: 1.2em;
    text-decoration: none;
}

.options-container {
    display: flex;
    gap: 5vw;
    align-items: center;
}

.login-container {
    display: flex;
    gap: 5vw;
    align-items: center;
}