main {
    position: fixed;
    z-index: 20;
    top: 2px;
    left: 20vw;
    background: rgb(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 1vh 2vw;
    width: 60vw;
    max-width: 1280px;
    margin-top: 10px;
    border-radius: 12px;
    color: #fff;
}

app-login {
    position: absolute;
    z-index: 10;
    top: 105%;
    right: 0%;
}

.login-container {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.login-container a {
    position: relative;
    color: lightgrey;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: font-size 1s ease-in-out;
}

.login-container a:hover {
    -webkit-text-fill-color: white;
}

.login-container a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: lightgrey;
    transition: width .5s ease-out;
}

.login-container a:hover::before {
    width: 100%;
}