#navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#app-navbar {
    position: fixed;
    z-index: 20;
    top: 1vh;
    background: rgb(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-between;
    padding: 0vh 2vw 0vh 1vw;
    width: clamp(350px, 60vw, 1280px);
    height: 40px;
    border-radius: 12px;
    color: #fff;
    overflow: visible;
}

app-login {
    position: absolute;
    z-index: 10;
    top: 105%;
    right: 0%;
}

#icon-container {
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: max(20px, 1.5vw);
    overflow: visible;
    max-height: 40px;
}

#navbar-icon {
    position: relative;
    bottom: 0vh;
    background-image: url("../../../../../assets/images/icons/icon.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    width: min(25vw, 100px);
    height: 70px;
    cursor: pointer;
}

#navbar-icon:hover {
    transform: scale(0.95);
}

#navbar-icon-text {
    color: lightgray;
    font-size: 1.6em;
    font-family: var(--icon-font-text);
    transition: font-size ease-in-out 0.1s;
}

#navbar-icon-text:hover {
    color: white;
    cursor: pointer;
}

.login-container {
    display: flex;
    gap: 2vw;
    align-items: center;
}

.login-container a {
    position: relative;
    color: lightgrey;
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: font-size 1s ease-in-out;
}

.login-container a:hover {
    -webkit-text-fill-color: white;
}

.login-container a::before {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: lightgrey;
    transition: width .5s ease-out;
}

.login-container a:hover::before {
    width: 100%;
}