
main {
    background-image: url(../../../assets/images/backgrounds/book.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--fifth-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

#input-file-container {
    background-image: url(../../../assets/images/textures/wood.webp);
    margin-bottom: 10vh;
    width: 20vw;
    border-radius: 7px;
}

#input-file {
    color: white;
    opacity: 100%;
}